<figure class="image"><a href="https://play.google.com/store/apps/details?id=com.spflaum.athena" target="_blank" rel="noopener noreferrer"><img src="/assets/img/google_play_english.png"></a></figure>
<p style="text-align:center;">Experience the ultimate convenience of document management with Athena. Create PDFs from images and documents, extract text with the help of AI for full-text search, and keep your data private and secure—all without needing an internet connection.</p>
<p style="text-align:center;">&nbsp;</p>
<p>Athena stands for</p>
<ul>
    <li><strong>A</strong>daptable: Combine images and documents into PDFs</li>
    <li><strong>T</strong>ime-saving: Looking for a specific document, but you only remember that it contains your name? Not a problem! Use the full-text-search to search for your name and find all related documents!</li>
    <li><strong>H</strong>ands-On Privacy: We don't want your data. Your documents stay on your device, giving you complete control.</li>
    <li style="box-sizing:border-box;"><strong style="box-sizing:border-box;font-weight:bolder;">E</strong>fficient: Thoughtfully designed to ensure high efficiency when managing documents</li>
    <li><strong>N</strong>o internet needed: Operates fully offline, even text detection!</li>
    <li><strong>A</strong>dvanced technologies: With the help of AI text detection, you can extract text from images and documents and use it in full-text-search</li>
</ul>
